body{
  text-align: center;
  background-image: url("../img/main_bg.jpg");
  color:white;
}

#landing_img{
  width:30%;
  height:30%;
}

.link_buttons{
  font-size: 20px;
  padding:10px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  /*margin-top: 200px;*/
}
